<a href="https://colab.research.google.com/github/kbrh3/AI-algorithm-practice/blob/main/Exam1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Reading a CSV file into a data frame
DF <- read.csv(file = "/content/lymphedemaNYU.csv", header = TRUE, sep = ",", stringsAsFactors = FALSE)

# Display the first few rows of the data frame
head(DF)

  age degree            marital               employ finance       lymph_diag
1 48  Bachelor's Degree Not Married/Partnered Yes    Stringent     0
2 69  Graduate Degree   Married/Partnered     No     Not Stringent 0
3 46  Bachelor's Degree Married/Partnered     Yes    Not Stringent 0
4 65  Graduate Degree   Married/Partnered     Yes    Not Stringent 0
5 53  Graduate Degree   Married/Partnered     Yes    Stringent     0
6 50  Graduate Degree   Not Married/Partnered Yes    Stringent     1
  chemo radiation mastectomy lumpectomy num_ln_move hormo diabetes hypertension
1 1     1         0          1           5          1     0        1
2 0     0         1          0           1          1     0        0
3 0     1         1          0           2          1     0        0
4 1     1         1          0          10          1     0        0
5 1     1         1          0           7          1     1        1
6 1     1         1          0          16          1     0        1
  hypothyroid heart.disease arthritis Affected.Arm.Volume..mL.
1 0           0             0         4452
2 1           0             0         1773
3 0           0             0         2313
4 0           0             0         2128
5 1           0             0         2243
6 0           0             0         3290
  Unaffected.Arm.Volume..mL.
1 3806
2 1901
3 2113
4 2108
5 2166
6 2422

In [ ]:
summary(DF)

      age          degree            marital             employ
 Min.   :26.0   Length:567         Length:567         Length:567
 1st Qu.:50.0   Class :character   Class :character   Class :character
 Median :58.0   Mode  :character   Mode  :character   Mode  :character
 Mean   :58.2
 3rd Qu.:67.0
 Max.   :85.0
   finance            lymph_diag         chemo          radiation
 Length:567         Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 Class :character   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Mode  :character   Median :0.0000   Median :1.0000   Median :1.0000
                    Mean   :0.2346   Mean   :0.6402   Mean   :0.7196
                    3rd Qu.:0.0000   3rd Qu.:1.0000   3rd Qu.:1.0000
                    Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
   mastectomy       lumpectomy      num_ln_move        hormo
 Min.   :0.0000   Min.   :0.0000   Min.   : 1.00   Min.   :0.000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.: 2.00   1st Qu.:1.000
 Median :1.0000   Median :1.0000   Median : 5.00   Median :1.000
 Mean   :0.5273   Mean   :0.5238   Mean   : 8.63   Mean   :0.836
 3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:14.00   3rd Qu.:1.000
 Max.   :1.0000   Max.   :1.0000   Max.   :75.00   Max.   :1.000
    diabetes        hypertension     hypothyroid     heart.disease
 Min.   :0.00000   Min.   :0.0000   Min.   :0.0000   Min.   :0.00000
 1st Qu.:0.00000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.00000
 Median :0.00000   Median :0.0000   Median :0.0000   Median :0.00000
 Mean   :0.04409   Mean   :0.1711   Mean   :0.1235   Mean   :0.05291
 3rd Qu.:0.00000   3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.00000
 Max.   :1.00000   Max.   :1.0000   Max.   :1.0000   Max.   :1.00000
   arthritis      Affected.Arm.Volume..mL. Unaffected.Arm.Volume..mL.
 Min.   :0.0000   Min.   :1318             Min.   :1231
 1st Qu.:0.0000   1st Qu.:2100             1st Qu.:2074
 Median :0.0000   Median :2454             Median :2400
 Mean   :0.1887   Mean   :2589             Mean   :2510
 3rd Qu.:0.0000   3rd Qu.:2922             3rd Qu.:2806
 Max.   :1.0000   Max.   :6738             Max.   :6212

In [ ]:

# Using nrow() and ncol() to get number of rows and columns separately
num_rows <- nrow(DF)
num_cols <- ncol(DF)
cat("Number of Observations:", num_rows, "\nNumber of Variables:", num_cols, "\n")

column_names <- colnames(DF)
print(column_names)

Number of Observations: 567
Number of Variables: 19
 [1] "age"                        "degree"
 [3] "marital"                    "employ"
 [5] "finance"                    "lymph_diag"
 [7] "chemo"                      "radiation"
 [9] "mastectomy"                 "lumpectomy"
[11] "num_ln_move"                "hormo"
[13] "diabetes"                   "hypertension"
[15] "hypothyroid"                "heart.disease"
[17] "arthritis"                  "Affected.Arm.Volume..mL."
[19] "Unaffected.Arm.Volume..mL."

In [ ]:
#ratio for b
DF$ratio <- DF$Affected.Arm.Volume..mL. / DF$Unaffected.Arm.Volume..mL.

In [ ]:
# Fit the multiple regression model
model <- lm(ratio ~ lymph_diag + chemo + radiation + age + marital + finance + mastectomy + num_ln_move + diabetes + hypothyroid + arthritis + degree + employ + lumpectomy + hormo + hypertension + heart.disease, data = DF)

# View the summary of the model
summary(model)

In [ ]:
# Fit the multiple regression model
model <- lm(ratio ~ chemo + radiation + age + marital + finance + mastectomy + num_ln_move + diabetes + hypothyroid + arthritis + degree + employ + lumpectomy + hormo + hypertension + heart.disease, data = DF)

# View the summary of the model
summary(model)

In [ ]:
# Chemotherapy Predictor
model_chemo <- lm(ratio ~ chemo, data = DF)
summary(model_chemo)
plot(model_chemo)

In [ ]:
# Radiation Therapy Predictor
model_radiation <- lm(ratio ~ radiation, data = DF)
summary(model_radiation)
plot(model_radiation)

In [ ]:
# Lymphedema Diagnosis Predictor
model_lymph_diag <- lm(ratio ~ lymph_diag, data = DF)
summary(model_lymph_diag)
plot(model_lymph_diag)

In [ ]:

data <- read.csv(file = "/content/lymphedemaNYU.csv", header = TRUE, sep = ",", stringsAsFactors = FALSE)

In [ ]:

model <- glm(lymph_diag ~ ., data = data, family = binomial)
summary(model)

Call:
glm(formula = lymph_diag ~ ., family = binomial, data = data)

Coefficients:
                               Estimate Std. Error z value Pr(>|z|)
(Intercept)                  -2.6688541  1.2330797  -2.164   0.0304 *
age                           0.0059114  0.0130645   0.452   0.6509
degreeBachelor's Degree       0.2320126  0.3067507   0.756   0.4494
degreeGraduate Degree        -0.2515070  0.3221051  -0.781   0.4349
maritalNot Married/Partnered -0.0058793  0.2531067  -0.023   0.9815
employYes                    -0.2657086  0.2689442  -0.988   0.3232
financeStringent              0.0087439  0.4539313   0.019   0.9846
chemo                         0.4629497  0.2965106   1.561   0.1184
radiation                     0.6730445  0.3137435   2.145   0.0319 *
mastectomy                    0.6562958  0.5304330   1.237   0.2160
lumpectomy                   -0.1561779  0.5077197  -0.308   0.7584
num_ln_move                   0.0353484  0.0153168   2.308   0.0210 *
hormo                        -0.3092652  0.3232297  -0.957   0.3387
diabetes                     -0.8274978  0.6881353  -1.203   0.2292
hypertension                 -0.5219454  0.3846586  -1.357   0.1748
hypothyroid                   0.1931640  0.3666582   0.527   0.5983
heart.disease                 0.7601130  0.5079232   1.497   0.1345
arthritis                     0.0867395  0.3351260   0.259   0.7958
Affected.Arm.Volume..mL.      0.0049629  0.0007117   6.973 3.09e-12 ***
Unaffected.Arm.Volume..mL.   -0.0051247  0.0007641  -6.707 1.99e-11 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 617.73  on 566  degrees of freedom
Residual deviance: 453.20  on 547  degrees of freedom
AIC: 493.2

Number of Fisher Scoring iterations: 5

In [ ]:

predicted_probabilities <- predict(model, type = "response")

predicted_classes <- ifelse(predicted_probabilities > 0.5, 1, 0)

In [ ]:

actual_classes <- data$lymph_diag
confusion_matrix <- table(Predicted = predicted_classes, Actual = actual_classes)
print(confusion_matrix)

         Actual
Predicted   0   1
        0 417  74
        1  17  59

In [ ]:
accuracy <- sum(diag(confusion_matrix)) / sum(confusion_matrix)
print(paste("Accuracy:", accuracy))

[1] "Accuracy: 0.839506172839506"